<nav class="navbar navbar-expand-md navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item active col-1">
      <a class="nav-link" routerLink = '/user/{{userId}}/website/{{websiteId}}/page'>
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
    </li>
    <li class="nav-item col-3">
      <a class="navbar-brand cl-text-bold" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget'>Widgets</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-brand" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/new'>
        <i class="fas fa-plus fontawsome_icon"></i>
      </a>
    </li>
  </ul>
</nav>



<div class="container-fluid cl-container-padding">
  <div class="widget-list" appSortable (newIndexes)="reorderWidgets($event)">
  <!--<ul class="list-group cl-list-group-borderless">-->
    <div *ngFor = "let widget of widgets | orderBy">
      <div [ngSwitch]="widget.widgetType">
        <div class="jga-widget">

          <div class="jga-widget-tool">
            <a [routerLink]="['/user', 'website', websiteId, 'page', pageId, 'widget', widget._id]">
              <span class="glyphicon glyphicon-cog"> </span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
          </div>

        <div *ngSwitchCase="'HEADING'">
          <!--<li class="list-group-item cl-list-item-borderless">-->
            <!--<a routerLink ="widget-heading.html" class="navbar-link float-right">-->
            <a routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}' class="navbar-link float-right">
              <i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>
            </a>
            <!--<h2>{{widget.text}}</h2>-->
            <div [ngSwitch]="widget['size']">
              <div *ngSwitchCase="1">
                <h1>{{ widget['text'] }}</h1>
              </div>
              <div *ngSwitchCase="2">
                <h2>{{ widget['text'] }}</h2>
              </div>
              <div *ngSwitchCase="3">
                <h3>{{ widget['text'] }}</h3>
              </div>
              <div *ngSwitchCase="4">
                <h4>{{ widget['text'] }}</h4>
              </div>
              <div *ngSwitchCase="5">
                <h5>{{ widget['text'] }}</h5>
              </div>
              <div *ngSwitchCase="6">
                <h6>{{ widget['text'] }}</h6>
              </div>
            </div>
          <!--</li>-->
        </div>

        <div *ngSwitchCase="'YOUTUBE'" class="youtube-widget">
          <!--<li class="list-group-item cl-list-item-borderless">-->
            <!--<a href="widget-youtube.html" class="navbar-link float-right">-->
            <a routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}' class="navbar-link float-right">
            <i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>
            </a>
            <div class="embed-responsive embed-responsive-16by9">
              <!--<iframe width="500" height="315" src="https://www.youtube.com/embed/WrDGpMGF1pk" frameborder="0"-->
                      <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture allowfullscreen" ></iframe>-->
              <iframe width="500" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(widget.url)' frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture allowfullscreen" ></iframe>
            </div>
          <!--</li>-->
        </div>

        <div *ngSwitchCase="'IMAGE'">
          <!--<li class="list-group-item cl-list-item-borderless">-->
            <div>
              <!--<a href="widget-image.html" class="navbar-link float-right">-->
              <a routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}' class="navbar-link float-right">
              <i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>
              </a>
              <!--<img class="img-responsive img-rounded cl-widget-images"-->
                   <!--src="https://accuweather.brightspotcdn.com/dims4/default/0ceeafe/2147483647/resize/590x/quality/90/?url=http%3A%2F%2Faccuweather-bsp.s3.amazonaws.com%2F43%2F58%2F4548c8ce4d4cb5c0d873628c770f%2Fnw-snow.jpeg">-->
              <img class="img-responsive img-rounded cl-widget-images"
                   src="{{widget.url}}">
            </div>
          <!--</li>-->
        </div>

          <div *ngSwitchCase="'HTML'">
            <a routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}' class="navbar-link float-right">
              <!--<span class="glyphicon glyphicon-menu-hamburger"></span>-->
              <i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>
            </a>
            <!--<a routerLink="./{{widget._id}}" class="pull-right">-->
              <!--<span class="glyphicon glyphicon-cog"></span>-->
            <!--</a>-->
            <div [innerHTML] = "widget.text"></div>
          </div>

          <div *ngSwitchCase="'TEXT'">
            <a routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widget._id}}' class="navbar-link float-right">
              <i class="fas fa-cog fontawsome_icon" style="background-color: white"></i>
            </a>
            <div *ngIf="widget.formatted">
              <quill-editor [(ngModel)]="widget.text" name="text"></quill-editor>
            </div>

            <input *ngIf="!widget.formatted && (!widget.rows || widget.rows===1)"
                   placeholder="{{widget.placeholder}}" class="form-control"/>

            <textarea *ngIf="!widget.formatted && (widget.rows > 1)"
                      rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
                      class="form-control">{{widget.text}}</textarea>
          </div>

      </div>
    </div>
    </div>
  <!--</ul>-->
  </div>
</div>



<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="navbar-link navbar-brand" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget'>
        <i class="fas fa-play"></i>
      </a>

      <a class="navbar-link navbar-brand" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget'>
        <i class="fas fa-eye"></i>
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-link navbar-brand cl-icon-padding " routerLink = '/user/{{userId}}'>
        <i class="fas fa-user fontawsome_icon cl-icon-color"></i>
      </a>
    </li>
  </ul>
</nav>
