<!--<nav class="navbar bg-primary navbar-fixed-top">-->
  <!--<div class="container-fluid ">-->

    <!--&lt;!&ndash;<a class="navbar-brand cl-text-white" routerLink="">Profile</a>&ndash;&gt;-->
    <!--&lt;!&ndash;<a (click)="UpdateUser()" class="btn-primary navbar-text pull-right"><span class="glyphicon glyphicon-ok cl-text-white"></span></a>&ndash;&gt;-->

  <!--</div>-->
<!--</nav>-->
<form (ngSubmit)="UpdateUser()" #f ="ngForm">


  <!--<nav class="navbar navbar-expand-md navbar-light bg-light">-->
    <!--<ul class="navbar-nav">-->
      <!--<li class="nav-item active col-1">-->
        <!--<a class="nav-link" routerLink = '/user/{{userId}}/website/{{websiteId}}/page'>-->
          <!--<i class="fas fa-chevron-left fontawsome_icon"></i>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li class="nav-item col-3">-->
        <!--<a class="navbar-brand cl-text-bold" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/new'>New Page</a>-->
      <!--</li>-->
    <!--</ul>-->

    <!--<ul class="navbar-nav ml-auto">-->
      <!--<li class="nav-item active">-->
        <!--<button class = "btn btn-primary btn-block" type = "submit">-->
          <!--&lt;!&ndash;<a class="nav-link" href="page-list.html">&ndash;&gt;-->
          <!--<i class="fas fa-check fontawsome_icon"></i>-->
          <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</button>-->
    <!--</ul>-->
  <!--</nav>-->


<nav class="navbar navbar-expand-md navbar-dark bg-primary navbar-fixed-top">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="navbar-brand" routerLink = '/user/{{userId}}'>
        Profile
      </a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <button class = "btn btn-primary btn-block" type = "submit">
            <!--<a class="navbar-brand" type = "submit">-->
        <i class="fas fa-check fontawsome_icon"></i>
            <!--</a>-->
      </button>
    </li>
  </ul>
</nav>


<div class="container">
  <h1>Profile</h1>

  <div class="form-group">
    <label for="username">Username</label>
    <input [(ngModel)]="user.username" type="text" class="form-control"
           id="username" name="username" placeholder="{{user.username}}">
  </div>
  <div class="form-group">
    <label for="email">Email address</label>
    <input [(ngModel)]="user.email" type="text" class="form-control"
           id="email" name="email" placeholder="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="first-name">First Name</label>
    <input [(ngModel)]="user.firstName" type="text" class="form-control"
           id="first-name" name="first-name" placeholder="{{user.firstName}}">
  </div>
  <div class="form-group">
    <label for="last-name">Last Name</label>
    <input [(ngModel)]="user.lastName" type="text" class="form-control"
           id="last-name" name="last-name" placeholder="{{user.lastName}}">
  </div>

  <!--<a class="btn btn-primary btn-block" routerLink='/user/{{userId}}/website'>Websites</a>-->
  <button class="btn btn-primary btn-block" routerLink='/user/{{userId}}/website'>Websites</button>
  <button class="btn btn-danger btn-block" type="button" (click)="DeleteUser()">Delete</button>
  <button class="btn btn-danger btn-block" type="button" (click)="logout()">Logout</button>
  <!--<a class="btn btn-danger  btn-block" routerLink='/login'>Logout</a>-->
</div>
</form>


<nav class="navbar navbar-dark bg-primary fixed-bottom">
  <div class="container">
    <div class="row navbar-text">
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-star"></span>
        </a>
      </div>
      <div class="col-xs-3 text-center">
        <a href="#">
          <span class="glyphicon glyphicon-heart"></span>
        </a>
      </div>
    </div>
  </div>
</nav>
