
<form (ngSubmit)="newPage()" #newpage ="ngForm">
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item active col-1">
      <a class="nav-link" routerLink = '/user/{{userId}}/website/{{websiteId}}/page'>
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
    </li>
    <li class="nav-item col-3">
      <a class="navbar-brand cl-text-bold" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/new'>New Page</a>
    </li>
  </ul>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <button class = "btn btn-primary btn-block" type = "submit" [disabled]="!newpage.valid">
      <!--<a class="nav-link" href="page-list.html">-->
        <i class="fas fa-check fontawsome_icon"></i>
      <!--</a>-->
      </button>
  </ul>
</nav>



<div class="container-fluid cl-container-padding">
  <!--<form>-->
    <div class = "form-group">
      <label for = "pagename">Name</label>
      <input type = "text"
             name = "pagename"
             class = "form-control"
             id = "pagename"
             placeholder = "Page Name"
             ngModel required #pagename="ngModel"/>
      <div [hidden]="pagename.valid || pagename.untouched"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
    <div class = "form-group">
      <label for = "title"> Title</label>
      <input type = "text"
             name = "pagetitle"
             class = "form-control"
             id = "title"
             placeholder="Page Title"
             ngModel required #pagetitle="ngModel"/>
    </div>
  <!--</form>-->
</div>

<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-link navbar-brand" routerLink = '/user/{{userId}}'>
        <i class="fas fa-user fontawsome_icon mr-auto cl-icon-color"></i>
      </a>
    </li>
  </ul>
</nav>
</form>
