
<form (ngSubmit)="updateHeading()" #updateheading ="ngForm">
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget'>
        <i class="fas fa-chevron-left fontawsome_icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="navbar-brand cl-text-bold" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget/{{widgetId}}'>Widget Edit</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <!--<a class="nav-link" routerLink = '/user/{{userId}}/website/{{websiteId}}/page/{{pageId}}/widget'>-->
        <!--<i class="fas fa-check fontawsome_icon"></i>-->
      <!--</a>-->
      <button class = "btn btn-primary btn-block" type = "submit">
        <i class="fas fa-check fontawsome_icon"></i>
      </button>
    </li>
  </ul>
</nav>
</form>

<form (ngSubmit)="deleteHeading()" #deleteheading ="ngForm">
<div class="container-fluid cl-container-padding">
  <form>
    <div class = "form-group">
      <label for = "headingname">Name</label>
      <!--<input [(ngModel)]="widget.text" type = "text" class="form-control"-->
             <!--id = "headingname" name="headingname" placeholder="{{widget.text}}">-->
      <input type = "text" class="form-control" id = "headingname" placeholder="Heading">
    </div>
    <div class = "form-group">
      <label for = "text"> Text </label>
      <input [(ngModel)]="widget.text" type = "text" class="form-control"
             id = "text" name="text" placeholder="{{widget.text}}">
    </div>
    <div class = "form-group">
      <label for = "size"> Size </label>
      <input [(ngModel)]="widget.size" type = "text" class="form-control"
             id = "size" name="size" placeholder="{{widget.size}}">
    </div>
  </form>
  <!--<a class = "btn btn-danger btn-block" href = "widget-list.html">Delete</a>-->
  <button class = "btn btn-danger btn-block" type = "submit">
    Delete
  </button>
</div>
</form>


<nav class="navbar navbar-expand-md navbar-light bg-light fixed-bottom">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="navbar-link navbar-brand" routerLink = '/user/{{userId}}'>
        <i class="fas fa-user fontawsome_icon mr-auto cl-icon-color"></i>
      </a>
    </li>
  </ul>
</nav>

